version: 2.1

jobs:
  build_n_test:
    description: 'Build & Test'

    docker: # See ../circleci.dockerfile
    - image: cchantep/reactivemongo-site:1.0.0-7935a6f-SNAPSHOT

    working_directory: ~/repo

    environment:
      CIRCLE_ARTIFACTS: /tmp/circleci-artifacts
      CIRCLE_TEST_REPORTS: /tmp/circleci-test-results

    steps:
      - checkout

      # Validate site
      - run:
          name: Prepare build checksum
          command: |
                    find . -not -path '*/_site/*' -name '*.sbt' -type f \
                      -exec cat {} \; > /tmp/build

      - restore_cache:
          keys:
            - &build_cache_key sbt-{{ checksum "/tmp/build" }}
            - &branch_cache_key dep-{{ .Branch }}

      - run:
          name: Prepare artifact directories
          command: mkdir -p $CIRCLE_ARTIFACTS $CIRCLE_TEST_REPORTS

      - run:
          name: 'Build & validate'
          command: |
                    if [ ! -L node_modules ]; then
                      ln -s /root/node_modules node_modules
                    fi
                    java -version && ./.ci_scripts/validate.sh 1.6.2

      - run:
          name: Run Jekyll in background
          background: true
          command: |
                    on_term() {
                      echo "Terminated"
                      exit 0
                    }

                    trap on_term SIGTERM

                    bundle exec jekyll serve

      - save_cache:
          key: *branch_cache_key
          paths:
            - ~/repo/node_modules

      - save_cache:
          key: *build_cache_key
          paths:
            - ~/.m2
            - ~/.ivy2
            - ~/.sbt
            - ~/.coursier/cache

      - run:
          name: Check Jekyll site
          command: ./.ci_scripts/consolidate.sh

  algolia:
    description: 'Index to Algolia'

    docker:
    - image: cchantep/reactivemongo-site:1.0.0-7935a6f-SNAPSHOT

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: Indexing to Algolia
          command: |
                    test "x$CIRCLE_BRANCH" = "xgh-pages" && \
                    bundle exec jekyll algolia || \
                    echo "Skip on branch $CIRCLE_BRANCH"

  publish_artifacts:
    description: Publish artifacts

    parameters:
      major_version:
        type: string
        default: '1.0'

    docker:
    - image: cchantep/reactivemongo-site:1.0.0-7935a6f-SNAPSHOT

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
            - &jekyllconv_cache_key jekyll2pdf-b9a88b1

      - run:
          name: 'Setup Jekyll converters'
          command: |
                    GIST="c0cb2d4ba9e7b3289a1638bd05267921"
                    REVISION="b9a88b1c70b7cba8c93de8447381b73e0f62612c"

                    if [ ! -x 'project/jekyll2pandoc.sh' ]; then
                      echo "Installing Jekyll-to-PDF ..."

                      cd /tmp/
                      curl -L -s -o "$REVISION.zip" \
                        "https://gist.github.com/cchantep/$GIST/archive/$REVISION.zip"
                      unzip "$REVISION.zip"
                      mv "${GIST}-${REVISION}/"*.* ~/repo/project/
                    else
                      echo "Jekyll-to-Pandoc already installed"
                    fi

      - save_cache:
          key: *jekyllconv_cache_key
          paths:
            - ~/repo/project

      - run:
          name: 'Generate PDF release slides'
          command: |
                    MAJOR="<< parameters.major_version >>"

                    ./project/jekyll2pandoc.sh \
                      -c _config.yml \
                      -b "http://reactivemongo.org/releases/$MAJOR/documentation/" \
                      -i "releases/$MAJOR/documentation/release-details.md" \
                      -s 's/^\#\#[\#]+/\#\#/' \
                      -f beamer -o /tmp/slides.pdf \
                      -p '--pdf-engine=xelatex'

      - deploy:
          name: Publish artifacts to Gist repository
          command: |
                    cd /tmp
                    git clone "https://${GITHUB_GIST_API_USER}:${GITHUB_GIST_API_TOKEN}@gist.github.com/edde9aeadc4dd3714ae6fd1cdd7b7c3a.git"
                    cd edde9aeadc4dd3714ae6fd1cdd7b7c3a
                    
                    git config --global user.email 'circleci@reactivemongo.org'
                    git config --global user.name 'ReactiveMongo CI'

                    PDF_FILE="reactivemongo-<< parameters.major_version >>_release-details.pdf"

                    mv /tmp/slides.pdf "$PDF_FILE"
                    git add "$PDF_FILE"
                    git commit -m "Update $PDF_FILE for $CIRCLE_SHA1"

                    git log -n 1
                    git push

workflows:
  version: 2

  main_suite:
    jobs:
      - build_n_test

      - algolia:
          filters:
            branches:
              only:
                - gh-pages
          requires:
            - build_n_test

      - publish_artifacts:
          filters:
            branches:
              only:
                - gh-pages
          requires:
            - build_n_test
