version: 2.1

jobs:
  build:
    docker:
    - image: circleci/ruby:2.4-node-browsers

    working_directory: ~/repo
    parallelism: 1

    environment:
      CIRCLE_ARTIFACTS: /tmp/circleci-artifacts
      CIRCLE_TEST_REPORTS: /tmp/circleci-test-results

    steps:
      - checkout

      # PIP
      - restore_cache:
          keys:
            - pip

      - run:
          name: Install PIP
          working_directory: /tmp
          command: test -d ~/.local/bin || (wget https://bootstrap.pypa.io/get-pip.py && python get-pip.py --user)

      - save_cache:
          key: pip
          paths:
            - ~/.local

      # GEM
      - restore_cache:
          keys:
            - &setup_cache_key gem-{{ checksum "Gemfile" }}-{{ checksum ".ci_scripts/beforeInstall.sh" }}

      - run:
          name: Prepare the build environment
          command: ./.ci_scripts/beforeInstall.sh 1.3.13

      - save_cache:
          key: *setup_cache_key
          paths:
            - ~/.gem
            - ~/.bundle
            - ~/.sbt

      # Validate site
      - run:
          name: Prepare build checksum
          command: |
                    find . -not -path '*/_site/*' -name '*.sbt' -type f \
                      -exec cat {} \; > /tmp/build

      - restore_cache:
          keys:
            - &build_cache_key sbt-{{ checksum "/tmp/build" }}
            - &branch_cache_key dep-{{ .Branch }}

      - run:
          name: Prepare the artifact directories
          command: mkdir -p $CIRCLE_ARTIFACTS $CIRCLE_TEST_REPORTS

      - run:
          name: Build and validate
          command: java -version && ./.ci_scripts/validate.sh 1.3.3

      - run:
          name: Run Jekyll in background
          background: true
          command: |
                    on_term() {
                      echo "Terminated"
                      exit 0
                    }

                    trap on_term SIGTERM

                    bundle exec jekyll serve

      - save_cache:
          key: *branch_cache_key
          paths:
            - ~/repo/node_modules

      - save_cache:
          key: *build_cache_key
          paths:
            - ~/.m2
            - ~/.ivy2
            - ~/.sbt
            - ~/.coursier/cache

      - run:
          name: Check the Jekyll site
          command: ./.ci_scripts/consolidate.sh

      - run: # Separate job depending on buld
          name: Indexing to Algolia
          command: |
                    test "x$CIRCLE_BRANCH" = "xgh-pages" && \
                    bundle exec jekyll algolia || \
                    echo "Skip on branch $CIRCLE_BRANCH"

      # Teardown
      - store_test_results:
          path: /tmp/circleci-test-results
