<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="ReactiveMongo {% include major-version.md %}, Reactive Scala Driver for MongoDB" />

    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" media="only screen and (max-width: 640px) and (max-height: 640px)" href="/css/responsive.css" type="text/css" />
    <link rel="stylesheet" media="only screen and (max-width: 640px) and (min-height: 600px)" href="/css/responsive.css" type="text/css" />

    <link rel="stylesheet" media="screen and (min-width: 641px), screen and (min-width: 768px) and (min-height: 641px)" href="/css/desktop.css" type="text/css" />

    <link href="/css/syntax.css" rel="stylesheet" type="text/css" />
    <link href="/css/algolia.css" rel="stylesheet" type="text/css" />

    <link rel="icon" type="image/png" href="/images/favicon.ico" />

    <title>ReactiveMongo {% include major-version.md %} - {{page.title}}</title>
  </head>

  <body>
    <div id="header">
      <div class="container">
        <a href="/">
          <img src="/images/logo.png" />
        </a>
        <ul class="nav">
          <li>
            {% if page.major_version %}
            <a href="/releases/{{page.major_version}}/documentation/">Documentation</a>
            {% else %}
            <a href="/documentation.html">Documentation</a>
            {% endif %}
          </li>
          <li><a href="/ecosystem.html">Ecosystem</a></li>
          <li><a href="/community.html">Community</a></li>
        </ul>

        <form id="siteSearch">
          <input id="search-input" type="text" autocomplete="on" spellcheck="false" autocorrect="off" placeholder="Search" />
        </form>
      </div>
    </div>
    <div id="main">
      <h1>Reactive Scala Driver for MongoDB</h1>
      <p class="subtitle">Asynchronous &amp; Non-Blocking</p>
      {{content}}
    </div>

    <div id="footer">
      <div class="container">
        <span id="majorVersion">{% include major-version.md %}</span>
        <span class="copyright">
          © 2012 – 2015, Stephane Godbillon &amp; <a href="https://github.com/ReactiveMongo/ReactiveMongo/graphs/contributors">contributors</a>
        </span>
        <a class="sponsors" href="/sponsors.html">Sponsors</a>
      </div>
    </div>

    {% include algolia-script.md %}
  </body>
</html>
